.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentSection {
    color: white;
    padding: 1rem;
}

.contentTitle {
    font-size: 2.5rem;
    font-weight: 600;
}

.contentText {
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 4px;
}